.App {
  min-height: 100vh;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
}
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./pasta.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  color: white;
  font-size: 5em;
}
.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: aliceblue;
}
.search-form {
  min-height: 10vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.recipes {
  margin: 0%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1200px) {
  .recipes {
    justify-content: space-evenly;
  }
}
.text {
  text-align: center;
  padding: 1%;
}
